<!DOCTYPE html>
<html lang="{{ .Lang }}"{{ range $k, $v := .Params.rootAttrs }} {{ $k | safeHTMLAttr }}="{{ $v }}"{{ end }}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ with .Title }}{{ . | markdownify | plainify }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ `favicon.ico` | absURL }}">
    <link href="{{ (resources.Get `main.scss` | toCSS | minify).Permalink }}" rel="stylesheet">
</head>
<body>

<section class="container">
    <div class="row">
        <div class="col-md-8 p-4">
            <!-- Heading -->
            {{- block "heading" . }}
                <h1>{{ .Params.heading | default .Title | markdownify }}</h1>
                <!-- Language switcher -->
                {{- $curLang := .Language.Lang }}
                {{- with .AllTranslations }}
                <ul class="nav nav-pills">
                    {{- range . }}
                        <li class="nav-item">
                            <a href="{{ .RelPermalink }}" class="nav-link {{- if eq .Lang $curLang }} active{{ end }}">{{ .Lang | upper }}</a>
                        </li>
                    {{- end }}
                </ul>
                {{- end }}
                <hr>
            {{- end }}

            <!-- Main content -->
            {{- block "main" . }}
            {{- .Content }}
            {{- end }}

            <!-- Comments -->
            {{- if (ne .Params.comentario false) }}
                {{- partial "comments" . }}
            {{- end }}
        </div>
        <aside class="col-md-4 p-4 border-start">
            {{- partial "sidebar" . }}
        </aside>
    </div>
</section>

<!-- Footer -->
{{- block "footer" . }}
{{- partial "footer" . }}
{{- end }}

<!-- Scripts -->
{{- partial "scripts" . }}
</body>
</html>
