{{ define "main" }}
<main>
    <!-- Main content -->
    {{ .Content }}

    <!-- If there are child pages, list them -->
    {{- with .Pages }}
    <ul>
        {{- range . }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{- end }}
    </ul>
    {{- end }}
</main>
{{ end }}
