<h2 id="comments">Comments<comentario-count error-text="" zero-text="" prefix=" (" suffix=")" {{- with index .Params.comentarioTagAttrs `page-id` }} path="{{ . }}" {{- end }}></comentario-count></h2>

<script defer src="{{ .Site.Params.comentarioURL }}/comentario.js"></script>
<comentario-comments {{- range $k, $v := .Params.comentarioTagAttrs }} {{ $k | safeHTMLAttr }}="{{ $v }}" {{- end }}></comentario-comments>
