<h2>Contents</h2>

<ul class="nav nav-pills nav-fill flex-column">
    {{- range .Site.Menus.sidebar }}
    {{- $url := .Params.url | default .URL | absURL }}
    {{- $compURL := replace $url     "/127.0.0.1"     "/localhost" }}
    {{- $compURL := replace $compURL "/lacolhost.com" "/localhost" }}
    <li class="navbar-item">
        <a class="nav-link{{ if eq $.Permalink $compURL }} active{{ end }}" href="{{ $url }}">{{ .Title }}</a>
    </li>
    {{- end }}
</ul>
